
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.sqlite3

# Kivy
.kivy/
.kivy_config/
*.kv~

# VSCode / PyCharm
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
